* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.4s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: #fbf8ec;
}

header {
  padding-top: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 10px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.nav-items .nav-item1 {
  border-radius: 4px;
  display: flex;
  align-items: center;
  background: #70c05b;
  max-width: 140px;
  gap: 10px;
  padding: 8px;
}
.nav-items .nav-item1 p {
  color: var(--main-on-secondary, #fff);
  text-align: center;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.nav-items .nav-item2 {
  position: relative;
}
.nav-items .nav-item2 #text {
  border-radius: 4px;
  max-width: 360px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 250px;
  outline: none;
}
.nav-items .nav-item2 svg {
  position: absolute;
  top: 5px;
  right: 5px;
}
.nav-items .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(252, 213, 186, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  animation: modalScale 0.3s linear alternate;
}
.nav-items .modal.open {
  display: flex;
}
.nav-items .modal-content {
  width: 420px;
  height: 431px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.5);
  background: #fff;
}
@keyframes modalScale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.nav-items .m p {
  text-align: center;
  color: var(--main-on-surface, #414141);
  text-align: center;
  /* Desc/Header/S */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.nav-items .m .aaa {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.nav-items .m .aaa label {
  padding-top: 32px;
  color: var(--grayscale-hard, #8f8f8f);
  padding-right: 140px;
  /* Desc/Text/M */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.nav-items .m .aaa #number {
  max-width: 260px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  box-shadow: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
  outline: none;
}
.nav-items .m .aaa button {
  color: var(--main-primary, #f63);
  text-align: center;
  margin-top: 32px;
  border: none;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  display: flex;
  width: 260px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
}
.nav-items .m .fff {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  gap: 16px;
}
.nav-items .m .fff button {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  background-color: #fff;
  border: none;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  border-radius: 4px;
  display: flex;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.nav-items .m .fff button:hover {
  color: var(--main-secondary, #70c05b);
  text-align: center;
  border: 1px solid #70c05b;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.nav-items #btn-open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-items #btn-open p {
  color: var(--onSurface, #232323);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

main {
  padding-top: 70px;
}

.img1 {
  max-width: 1440px;
  width: 100%;
}

.par2 {
  padding-top: 140px;
  padding-left: 116px;
  padding-right: 116px;
}

.cardall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.par3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.par3 p {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

.cards {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  background: #fff;
  max-width: 272px;
  border-radius: 4px;
  /* Default/XS */
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.card p {
  color: var(--main-on-surface, #414141);
  padding-left: 8px;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.card svg {
  padding-left: 8px;
}
.card button {
  padding-left: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  max-width: 266px;
  width: 100%;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  transition: 0.4s;
}
.card button:hover {
  background: var(--main-primary, #f63);
  color: #fff;
  border: solid #f63;
}

.par4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
}

.p1 div {
  color: var(--grayscale-light, #bfbfbf);
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.por {
  margin-top: -200px;
}

.par10 {
  padding-top: 220px;
  padding-left: 116px;
  padding-right: 116px;
}
.par10 .par6 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.par10 .cards3 {
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.par10 .cards3 .card3 {
  display: flex;
  padding: 40px;
  max-width: 584px;
  border-radius: 4px;
  background: #fcd5ba;
}
.par10 .cards3 .card3 img {
  max-width: 310px;
  width: 100%;
}
.par10 .cards3 .card3 .loo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.par10 .cards3 .card3 .loo p {
  color: var(--main-on-surface, #414141);
  max-width: 258px;
  width: 100%;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.par10 .cards3 .card3 .loo .p {
  color: var(--main-on-surface, #414141);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.card3lite {
  display: flex;
  padding: 40px;
  max-width: 584px;
  border-radius: 4px;
  background: #e5ffde;
}
.card3lite .loo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.card3lite .loo p {
  color: var(--main-on-surface, #414141);
  max-width: 258px;
  width: 100%;
  /* Desc/Header/S */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.card3lite .loo .p {
  color: var(--main-on-surface, #414141);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.par11 {
  padding-left: 116px;
}
.par11 .par12 {
  color: var(--main-on-surface, #414141);
  padding-top: 120px;
  /* Desc/Header/M */
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.par11 .img {
  padding-top: 40px;
  max-width: 1208px;
  width: 100%;
}
.par11 .par3 {
  padding-top: 40px;
}

.buttons {
  padding-top: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.buttons button {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  width: 86px;
  height: 32px;
  padding: 8px;
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
  border: none;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.buttons button:hover {
  color: #fff;
  background-color: #70c05b;
}

.cards4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card4 {
  border-radius: 4px;
  background: var(--main-surface, #fff);
  width: 376px;
  /* Default/XS */
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.card4 .cardp {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.card4 .cardp .p1 {
  color: var(--grayscale-hard, #8f8f8f);
  max-width: 356px;
  width: 100%;
  /* Desc/Text/XS */
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.card4 .cardp .p2 {
  color: var(--main-on-surface, #414141);
  max-width: 356px;
  width: 100%;
  /* Desc/Header/XS */
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
}
.card4 .cardp .p3 {
  color: var(--main-on-surface, #414141);
  max-width: 356px;
  width: 100%;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.card4 .cardp .p4 {
  color: var(--main-on-surface, #414141);
  max-width: 356px;
  width: 100%;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-bottom: 48px;
}
.card4 .cardp .p5 {
  color: var(--main-on-surface, #414141);
  max-width: 356px;
  width: 100%;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-bottom: 24px;
}
.card4 .cardp button {
  border-radius: 4px;
  background: var(--main-secondary-muted, #e5ffde);
  color: var(--main-secondary, #70c05b);
  border: none;
  display: flex;
  width: 150px;
  padding: 8px;
  justify-content: center;
  align-items: start;
  gap: 8px;
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.card4 .cardp button:hover {
  color: #fff;
  background: #70c05b;
}

.menu {
  border: 0;
  background: transparent;
  display: none;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .cards {
    flex-wrap: wrap;
  }
  .cards3 {
    flex-wrap: wrap;
  }
  .card3 {
    flex-wrap: wrap;
  }
  .card3lite {
    flex-wrap: wrap;
  }
  .par2 {
    padding-top: 0;
  }
  .par3 {
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin-top: 150px;
  }
  .par10 {
    padding-left: 0;
    padding-right: 0;
  }
  .img1 {
    height: auto;
  }
  .cards4 {
    flex-wrap: wrap;
  }
  .buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .par11 {
    text-align: center;
    padding-left: 0;
  }
  .nav-items {
    flex-direction: column;
    gap: 24px;
    position: fixed;
    left: -100%;
    width: 100%;
    height: calc(100vh - 104px);
    background: #fff;
    padding: 60px 0;
    transition: all 0.3s ease-in-out;
    z-index: 10;
  }
  .menu {
    display: block;
  }
  .open .nav-items {
    left: 0;
  }
  .open {
    box-shadow: none;
  }
}/*# sourceMappingURL=index.css.map */